<!-- đây là footer -->
<footer class="footer-area">
    <div class="footer-top section-news">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">

                    <div class="footer-widget">
                        <h2>about us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt blanditiis dolor, hic eaque possimus sint id veritatis nesciunt.</p>
                        <a routerLink="/about" class="garden-btn move-eff"><span>read more</span></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">

                    <div class="footer-widget">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a routerLink="/about">About us</a></li>
                            <li><a routerLink="/shop">Our Shop</a></li>
                            <li><a routerLink="/blog-detail">Our Recent Blog</a></li>
                            <li><a routerLink="/blog">Latest Blog</a></li>
                            <li><a routerLink="/cart">Our cart</a></li>
                            <li><a routerLink="/contact">Contact With Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget">
                        <h2>Latest Blog</h2>
                        <div class="footer-blog">
                            <div class="blog-img">
                                <a routerLink="/blog-detail"><img src="./assets/images/bloghome/01.jpg" alt=""></a>
                            </div>
                            <div class="blog-info">
                                <a routerLink="/blog-detail">
                                    <p>Lorem Ipsum is simply dummy text..</p>
                                </a>
                                <span>9 Aug, 2023</span>
                            </div>
                        </div>
                        <div class="footer-blog">
                            <div class="blog-img">
                                <a routerLink="/blog-detail"><img src="./assets/images/bloghome/02.jpg" alt=""></a>

                            </div>
                            <div class="blog-info">
                                <a routerLink="/blog-detail">
                                    <p>Lorem Ipsum is simply dummy text..</p>
                                </a>
                                <span>9 Aug, 2023</span>
                            </div>
                        </div>
                        <div class="footer-blog">
                            <div class="blog-img">
                                <a routerLink="/blog-detail"><img src="./assets/images/bloghome/01.jpg" alt=""></a>

                            </div>
                            <div class="blog-info">
                                <a routerLink="/blog-detail">
                                    <p>Lorem Ipsum is simply dummy text..</p>
                                </a>
                                <span>9 Aug, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget address-wid">
                        <h2>Get in Touch</h2>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> 100 Main St, Blacktown NSW 2148, Australia</li>
                            <li style="display: flex; align-items: center;"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">support@gardening.com</a></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="#">+256-4516-556</a></li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i> Monday-Satarday </li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i> 9am - 5pm </li>
                        </ul>
                        <div class="subscribe-box">
                            <form class="mailchimp">
                                <input type="email" name="subscribe" id="subscriber-email" placeholder="Enter Your Email" class="form-control" required="">
                                <button type="submit" id="subscribe-button" class="garden-btn move-eff">sent</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="copy-right">
                        <p>Copyright <span>©</span> garden beauty 2023. All rights reserved. </p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#" class="active"><i class="fa-brands fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>