<div class="service-area bg-gray pb-3">
  <div class="container">
    <div class="section-title py-5">
      <h2 class="text-center">
        Our
        <span>Service</span>
      </h2>
    </div>

    <div class="row justify">
      <div class="col-lg-4 col-sm-6">
        <div class="single-service text-center">
          <div class="scroll-eff"></div>
          <div class="service-info">
            <h4>Lawn Clean</h4>
            <i class="fa-regular fa-trash-can"></i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="single-service text-center">
          <div class="scroll-eff"></div>
          <div class="service-info">
            <h4>Garden Help</h4>
            <i class="fa-solid fa-shield-halved"></i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="single-service text-center">
          <div class="scroll-eff"></div>
          <div class="service-info">
            <h4>Garden Care</h4>
            <i class="fa-solid fa-bug"></i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="single-service text-center">
          <div class="scroll-eff"></div>
          <div class="service-info">
            <h4>Leaf Cutting</h4>
            <i class="fa-solid fa-scissors"></i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="single-service text-center">
          <div class="scroll-eff"></div>
          <div class="service-info">
            <h4>Tree Planting</h4>
            <i class="fa-brands fa-pagelines"></i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="single-service text-center">
          <div class="scroll-eff"></div>
          <div class="service-info">
            <h4>Water Gardening</h4>
            <i class="fa-solid fa-droplet"></i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
