<app-menu></app-menu>
<div class="parallax-window " style="height: 200px; background-size: auto; position: relative;" data-parallax="scroll"
    data-image-src="http://lovesome.biz/tf-template/garden/img/project-bg.jpg">
    <div class="container xx">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">
                    <div class="title">
                        <h2>contact</h2>
                    </div>
                    <ul class="breadcrumb">
                        <li><a routerLink="" class="home0">Home / </a></li>
                        <li class="active"> Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-contacts></app-contacts>
<app-footer></app-footer>
