<!-- <div class="section-news">

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="section-title">
                <h2>
                    Our
                    <span>Gallery</span>
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="owl-carousel owl-theme produc-two">
            <div class="item item_blog">
                <div class="single-gallery">
                    <a href="./assets/images/gallery/01.jpg" data-lightbox="image-1" data-title="My gallery">
                        <img src="./assets/images/gallery/01.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="item item_blog">

                <div class="single-gallery">
                    <a href="./assets/images/gallery/02.jpg" data-lightbox="image-1" data-title="My gallery">
                        <img src="./assets/images/gallery/02.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="item item_blog">

                <div class="single-gallery">
                    <a href="./assets/images/gallery/03.jpg" data-lightbox="image-1" data-title="My gallery">
                        <img src="./assets/images/gallery/03.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="item item_blog">

                <div class="single-gallery">
                    <a href="./assets/images/gallery/04.jpg" data-lightbox="image-1" data-title="My gallery">
                        <img src="./assets/images/gallery/04.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="item item_blog">

                <div class="single-gallery">
                    <a href="./assets/images/gallery/05.jpg" data-lightbox="image-1" data-title="My gallery">
                        <img src="./assets/images/gallery/05.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="item item_blog">

                <div class="single-gallery">
                    <a href="./assets/images/gallery/06.jpg" data-lightbox="image-1" data-title="My gallery">
                        <img src="./assets/images/gallery/06.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="item item_blog">

                <div class="single-gallery">
                    <a href="./assets/images/gallery/07.jpg" data-lightbox="image-1" data-title="My gallery">
                        <img src="./assets/images/gallery/07.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="item item_blog">
                <div class="single-gallery">
                    <a href="./assets/images/gallery/08.jpg" data-lightbox="image-1" data-title="My gallery">
                        <img src="./assets/images/gallery/08.jpg" alt="">
                    </a>
                </div>
            </div>

        </div>

    </div>



</div> -->


<!-- <div class="parallax-window abc" style="height: 200px; background-size: auto; position: relative;"
    data-parallax="scroll" data-image-src="http://lovesome.biz/tf-template/garden/img/project-bg.jpg">
    <div class="container xx">
        <div class="row res">
            <div class="col-md-3 col-sm-6">
                <div class="single-progress-dec text-center">
                    <i class="fa fa-solid fa-building"></i>
                    <span class="counter">240</span><span class="plus">+</span>
                    <h3>Completed Projects</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-progress-dec text-center">
                    <i class="fa fa-solid fa-face-smile"></i>
                    <span class="counter">460</span><span class="plus">+</span>
                    <h3>Happy Clients</h3>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-progress-dec text-center">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <span class="counter">45</span><span class="plus">+</span>
                    <h3>Winning Awards</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-progress-dec text-center">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <span class="counter">90</span><span class="plus">+</span>
                    <h3>Winning Awards</h3>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="section-news">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>
                        Our
                        <span>Team</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-member">
                    <img src="./assets/images/team/01.jpg" alt="img16">
                    <div class="member-title">
                        <h2>johnthan doe</h2>
                        <h3>Garden designer</h3>
                    </div>
                    <div class="social-overlay">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-vimeo"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-member">
                    <img src="./assets/images/team/02.jpg" alt="img16">
                    <div class="member-title">
                        <h2>lily adams</h2>
                        <h3>Garden designer</h3>
                    </div>
                    <div class="social-overlay">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-vimeo"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-member">
                    <img src="./assets/images/team/03.jpg" alt="img16">
                    <div class="member-title">
                        <h2>Georjina Parker</h2>
                        <h3>Garden designer</h3>
                    </div>
                    <div class="social-overlay">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-vimeo"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-member">
                    <img src="./assets/images/team/04.jpg" alt="img16">
                    <div class="member-title">
                        <h2>Robert Doe</h2>
                        <h3>Garden designer</h3>
                    </div>
                    <div class="social-overlay">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-vimeo"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
