<app-menu></app-menu>
<div class="parallax-window " style="height: 200px; background-size: auto; position: relative;" data-parallax="scroll"
    data-image-src="http://lovesome.biz/tf-template/garden/img/project-bg.jpg">
    <div class="container xx">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">
                    <div class="title">
                        <h2>our product</h2>
                    </div>
                    <ul class="breadcrumb">
                        <li><a routerLink="/" class="home0">Home / </a></li>
                        <li class="active"> ProductDetail</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="detailt">
    <div class="container">
        <div class="row">
            <div class="detail-left col-lg-9">
                <div class="detailt-in-top">
                    <div class="row">
                        <div class="in-detailt-left col-lg-6">
                            <div class="dd-detail">
                                <img [src]="dataDetail.image" alt="">
                                <p class="new-left">new</p>
                                <p class="sale-right">sale</p>
                            </div>
                        </div>
                        <div class="in-detailt-right  col-lg-6">
                            <h2>{{dataDetail.name}}</h2>
                            <div class="row bin">
                                <div class="in-detailt-icon det-bin-item thu">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="review det-bin-item">
                                    (1 Review)
                                </div>
                                <div class="add det-bin-item hidden">
                                    Add your review
                                </div>
                            </div>
                            <div class="in-detailt-text">
                                <p>Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae
                                    euismod ligula urna in dolor. Sed lectus.</p>
                            </div>
                            <div class="price mb-4">
                                <div class="row thut">
                                    <h4>${{dataDetail.saleprice}} </h4>
                                    <p class="gach">${{dataDetail.price}}</p>
                                </div>
                            </div>
                            <a style="cursor: pointer;" class="add-cart-btn" (click)="addToCart(dataDetail.id)">

                                <i class="fa-solid fa-plus"></i> Add to cart
                            </a>
                        </div>
                    </div>
                </div>
                <div class="detailt-in-bottom">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation li-tab" class="active">
                                <a href="#home" aria-controls="home" role="tab" data-toggle="tab"
                                    class="a-tab">Description</a>
                            </li>
                            <li role="presentation li-tab">
                                <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab" class="a-tab">Product
                                    Details</a>
                            </li>
                            <li role="presentation li-tab">
                                <a href="#hello" aria-controls="tab" role="tab" data-toggle="tab"
                                    class="a-tab hidden">Reviews</a>

                            </li>
                        </ul>
                        <div class="tab-content cha-tab">
                            <div role="tabpanel" class="tab-pane active tt-tab" id="home">Vestibulum facilisis, purus
                                nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Sed
                                lectus. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Nam at tortor
                                in tellus interdum sagittis. Pellentesque egestas, neque sit amet convallis pulvinar,
                                justo nulla eleifend augue, ac auctor orci leo non est. Morbi mollis tellus ac sapien.
                                Nunc nec neque. Praesent nec nisl a purus blandit viverra. Nunc nec neque. Pellentesque
                                auctor neque nec urna.
                                Curabitur suscipit suscipit tellus. Cras id dui. Nam ipsum risus, rutrum vitae,
                                vestibulum eu, molestie vel, lacus. Class aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos hymenaeos. Maecenas vestibulum mollis diam.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-right col-lg-3">
                <div class="detailt-right-top">
                    <div class="detail-right-bottom">
                        <img style="width: 100%;" src="./assets/images/detailboy.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
