<app-menu></app-menu>
<div class="parallax-window " style="height: 200px; background-size: auto; position: relative;" data-parallax="scroll"
    data-image-src="http://lovesome.biz/tf-template/garden/img/project-bg.jpg">
    <div class="container xx">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">
                    <div class="title">
                        <h2>our blog</h2>
                    </div>
                    <ul class="breadcrumb">
                        <li><a routerLink="" class="home0">Home / </a></li>
                        <li class="active"> Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <article class="news-info">
                    <div class="news-img">
                        <img src="./assets/images/bloghome/blog1.jpg" alt="">
                        <div class="post-date">
                            <div class="post-date-info">
                                <span>03</span> nov/23
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="post-meta">
                            <ul>
                                <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                            </ul>
                        </div>
                        <a>
                            <h2>Blog title goes here...</h2>
                        </a>
                        <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                        <a routerLink="/blog-detail" class="garden-btn move-eff"><span>read more</span></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12">
                <article class="news-info">
                    <div class="news-img">
                        <img src="./assets/images/bloghome/blog4.jpg" alt="">
                        <div class="post-date">
                            <div class="post-date-info">
                                <span>03</span> nov/23
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="post-meta">
                            <ul>
                                <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                            </ul>
                        </div>
                        <a href="#">
                            <h2>Blog title goes here...</h2>
                        </a>
                        <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                        <a routerLink="/blog-detail" class="garden-btn move-eff"><span>read more</span></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12">
                <article class="news-info">
                    <div class="news-img">
                        <img src="./assets/images/bloghome/blog5.jpg" alt="">
                        <div class="post-date">
                            <div class="post-date-info">
                                <span>03</span> nov/23
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="post-meta">
                            <ul>
                                <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                            </ul>
                        </div>
                        <a>
                            <h2>Blog title goes here...</h2>
                        </a>
                        <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                        <a routerLink="/blog-detail" class="garden-btn move-eff"><span>read more</span></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12">
                <article class="news-info">
                    <div class="news-img">
                        <img src="./assets/images/bloghome/blog6.jpg" alt="">
                        <div class="post-date">
                            <div class="post-date-info">
                                <span>03</span> nov/23
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="post-meta">
                            <ul>
                                <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                            </ul>
                        </div>
                        <a href="#">
                            <h2>Blog title goes here...</h2>
                        </a>
                        <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                        <a routerLink="/blog-detail" class="garden-btn move-eff"><span>read more</span></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12">
                <article class="news-info">
                    <div class="news-img">
                        <img src="./assets/images/bloghome/blog7.jpg" alt="">
                        <div class="post-date">
                            <div class="post-date-info">
                                <span>03</span> nov/23
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="post-meta">
                            <ul>
                                <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                            </ul>
                        </div>
                        <a href="#">
                            <h2>Blog title goes here...</h2>
                        </a>
                        <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                        <a routerLink="/blog-detail" class="garden-btn move-eff"><span>read more</span></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12">
                <article class="news-info">
                    <div class="news-img">
                        <img src="./assets/images/bloghome/blog8.jpg" alt="">
                        <div class="post-date">
                            <div class="post-date-info">
                                <span>03</span> nov/23
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="post-meta">
                            <ul>
                                <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                            </ul>
                        </div>
                        <a href="#">
                            <h2>Blog title goes here...</h2>
                        </a>
                        <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                        <a routerLink="/blog-detail" class="garden-btn move-eff"><span>read more</span></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12">
                <article class="news-info">
                    <div class="news-img">
                        <img src="./assets/images/bloghome/blog3.jpg" alt="">
                        <div class="post-date">
                            <div class="post-date-info">
                                <span>03</span> nov/23
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="post-meta">
                            <ul>
                                <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                            </ul>
                        </div>
                        <a href="#">
                            <h2>Blog title goes here...</h2>
                        </a>
                        <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                        <a routerLink="/blog-detail" class="garden-btn move-eff"><span>read more</span></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12">
                <article class="news-info">
                    <div class="news-img">
                        <img src="./assets/images/bloghome/blog1.jpg" alt="">
                        <div class="post-date">
                            <div class="post-date-info">
                                <span>03</span> nov/23
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="post-meta">
                            <ul>
                                <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                            </ul>
                        </div>
                        <a href="#">
                            <h2>Blog title goes here...</h2>
                        </a>
                        <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                        <a routerLink="/blog-detail" class="garden-btn move-eff"><span>read more</span></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12">
                <article class="news-info">
                    <div class="news-img">
                        <img src="./assets/images/bloghome/blog5.jpg" alt="">
                        <div class="post-date">
                            <div class="post-date-info">
                                <span>03</span> nov/23
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="post-meta">
                            <ul>
                                <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                            </ul>
                        </div>
                        <a href="#">
                            <h2>Blog title goes here...</h2>
                        </a>
                        <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                        <a routerLink="/blog-detail" class="garden-btn move-eff"><span>read more</span></a>
                    </div>
                </article>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 text-center" style="">
                <nav class="navigation pagination">
                    <div class="nav-links">
                        <a class="page-numbers" href="#">Prev</a>
                        <a class="page-numbers" href="#">1</a>
                        <span class="page-numbers current" style="color: #6cbe03 !important;">2</span>
                        <span class="page-numbers dots">…</span>
                        <a class="page-numbers" href="#">6</a>
                        <a class="page-numbers" href="#">Next</a>
                    </div>
                </nav>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>
