<!-- banner -->
<div class="banner">
    <div class="bann-con">
        <div id="carouselId" class="carousel slide " data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item bann-con active">
                    <img src="assets/images/banner01.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>We Make Your Land With</h2>
                        <p>The Best Value</p>
                        <a routerLink="/contact">
                            <button type="button" class="btn btn-success hi">Our Sevices</button>
                        </a>
                        <a routerLink="/contact">
                            <button type="button" class="btn btn-success">MAKE A Quate</button>
                        </a>
                    </div>
                </div>
                <div class="carousel-item bann-con">
                    <img src="assets/images/banner02.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Every Flower must grow </h2>
                        <p>through Dirt</p>
                        <button type="button" class="btn btn-success hi">Our Sevices</button>
                        <button type="button" class="btn btn-success">MAKE A Quate</button>
                    </div>
                </div>
                <div class="carousel-item bann-con">
                    <img src="assets/images/banner03.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Grow your health, grow a </h2>
                        <p>garden!</p>
                        <a routerLink="/contact">
                            <button type="button" class="btn btn-success hi">Our Sevices</button>

                        </a>
                        <a routerLink="/contact">
                            <button type="button" class="btn btn-success">MAKE A Quate</button>

                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev hien" href="#carouselId" role="button" data-slide="prev">
                    <div class="nho">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </div>
                </a>
                <a class="carousel-control-next hien" href="#carouselId" role="button" data-slide="next">
                    <div class="nho">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bin">
        <div class="carg">
            <div class="container">
                <div class="row">
                    <div class="car-con col-lg-4">
                        <div class="card text-left">
                            <img class="card-img-top" src="assets/images/carg01.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Water Gardening</h4>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectet adipisicing elit, Lorem ipsum
                                    dolor sit ame error Unde, cupiditates hello.</p>
                                <div class="detail">
                                    <a routerLink="/blog">
                                        <button type="button" class="btn btn-info">Details</button>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="car-con col-lg-4">
                        <div class="card text-left">
                            <img class="card-img-top" src="assets/images/carg02.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Garden Designing</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectet adipisicing elit Lorem ipsum
                                    dolor sit ame, error Unde, cupiditates hello.</p>
                                <div class="detail">
                                    <a routerLink="/blog">
                                        <button type="button" class="btn btn-info">Details</button>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="car-con col-lg-4">
                        <div class="card text-left">
                            <img class="card-img-top" src="assets/images/carg03.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Land Maintance</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectet, Lorem ipsum dolor sit ame
                                    adipisicing elit, error Unde, cupiditates hello. </p>
                                <div class="detail">
                                    <a routerLink="/blog">
                                        <button type="button" class="btn btn-info">Details</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- carg -->
