<div class="about">
    <div class="container">
        <div class="about-top">
            <div class="section-title text-center">
                <h2>About <span>Gardenor</span></h2>
            </div>
        </div>
        <div class="about-bottom">
            <div class="row">
                <div class="about-img col-lg-4">
                    <img src="assets/images/about01.png" alt="">
                </div>
                <div class="about-intro col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="single-about-info">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <h3>Who we are</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur to come adipisicing elit. Eveniet ipsam
                                    impedit iusto him is corporis, voluptate repellat, incidunt blanditiis dignissimos
                                    excepturi minus voluptates deleniti sed.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-about-info">
                                <i class="fa-solid fa-link-slash"></i>
                                <h3>Our value</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur to come adipisicing elit. Eveniet ipsam
                                    impedit iusto him is corporis, voluptate repellat, incidunt blanditiis dignissimos
                                    excepturi minus voluptates deleniti sed.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-about-info">
                                <i class="fa-solid fa-circle-check"></i>
                                <h3>Our mission</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur to come adipisicing elit. Eveniet ipsam
                                    impedit iusto him is corporis, voluptate repellat, incidunt blanditiis dignissimos
                                    excepturi minus voluptates deleniti sed.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-about-info">
                                <i class="fa-solid fa-eye"></i>
                                <h3>Our vision</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur to come adipisicing elit. Eveniet ipsam
                                    impedit iusto him is corporis, voluptate repellat, incidunt blanditiis dignissimos
                                    excepturi minus voluptates deleniti sed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
