<app-menu></app-menu>
<div class="parallax-window " style="height: 200px; background-size: auto; position: relative;" data-parallax="scroll"
  data-image-src="http://lovesome.biz/tf-template/garden/img/project-bg.jpg">
  <div class="container xx">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="page-title">
          <div class="title">
            <h2>Our Cart</h2>
          </div>
          <ul class="breadcrumb">
            <li><a routerLink="" class="home0">Home / </a></li>
            <li class="active"> Cart</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row rowres">
      <div class="col-md-8 col-sm-12 av ">
        <div class="cart">
          <h1 class="h1">Shopping cart</h1>
          <div class="cart-overview">
            <ul class="cart-items">
              <li class="cart-item">
                <div class="product-line-grid mb-3" *ngFor="let item of cart">
                  <div class="col-md-3 col-xs-4">
                    <img [src]="item.image" alt="">
                  </div>
                  <div class="col-md-4 col-xs-8">
                    <div class="product-info">
                      <a href="#">{{item.name}}</a>
                    </div>
                    <div class="product-price">
                      <div class="product-discount">
                        <span class="regular-price">${{item.price}}</span>
                      </div>
                      <div class="current-price">
                        <span class="price">${{item.saleprice}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-xs-12">
                    <div class="row ddd">
                      <div class="col-md-10 col-xs-8">
                        <div class="row">
                          <div class="col-md-6 col-xs-6 qty">
                            <div class="input-group">
                              <input type="text" class="input" [value]="item.amount">
                              <span class="input-group-btn-vertical">
                                <button class="btnn_touch mt-1" (click)="plus(item.id)">
                                  <i class="fa-solid fa-angle-up"></i>
                                </button>
                                <button class="btnn_touch" (click)="minus(item.id)">
                                  <i class="fa-solid fa-angle-down"></i>
                                </button>
                              </span>
                            </div>
                          </div>
                          <div class="col-md-6 col-xs-2 ">
                            <span class="product-price">
                              <strong>
                                ${{item.saleprice * item.amount}}
                              </strong>
                            </span>
                          </div>

                        </div>
                      </div>
                      <div style="cursor: pointer;" class="col-md-2 col-xs-4 ">
                        <a class="icon-trash" (click)="removePrd(item.id)">
                          <i class="fa-solid fa-trash"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <a class="label" routerLink="/shop">
          <i class="fa-solid fa-chevron-left"></i><span>Continue shopping</span>
        </a>
      </div>

      <div class="col-md-4 col-sm-12 av">
        <div class="cart">
          <div class="cart-detail">
            <div class="cart-block">
              <div class="cart-sumary">
                <span class="labelx">{{cart.length}} item</span>
                <span class="value">${{total}}</span>
              </div>
              <div class="cart-sumary">
                <span class="labelx">Shipping</span>
                <span class="value">$7.00</span>
              </div>
            </div>
            <hr>
            <div class="cart-block">
              <div class="cart-sumary">
                <span class="labelx">Total</span>
                <span class="value">${{total + 7}}</span>
              </div>
              <div class="cart-sumary">
                <span class="labelx">Taxes</span>
                <span class="value">$0.00</span>
              </div>
            </div>
            <hr>

            <div class="checkout ">
              <div class="text-sm-center">

                <a routerLink="/checkout" class="btn btn-primary">Proceed to checkout</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
