<app-menu></app-menu>
<div class="parallax-window " style="height: 200px; background-size: auto; position: relative;" data-parallax="scroll" data-image-src="http://lovesome.biz/tf-template/garden/img/project-bg.jpg">
    <div class="container xx">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">
                    <div class="title">
                        <h2>our blog</h2>
                    </div>
                    <ul class="breadcrumb">
                        <li><a routerLink="" class="home0">Home / </a></li>
                        <li class="active" style="color: #fff;"> Blog /</li>
                        <li class="active"> Blog Detail</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="blog-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
                <article class="single-blog-content">
                    <img src="./assets/images/blogdetail.jpg" alt="">
                    <h2>single blog name</h2>
                    <div class="blog-get-info">
                        <i class="fa fa-calendar" aria-hidden="true"></i> <span>22 aug 2017</span>
                        <i class="fa fa-solid fa-clock"></i><span> 6.30pm</span>
                        <i class="fa fa-solid fa-comment"></i> <span>200 comments</span>
                    </div>
                    <p> lorem sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint </p>
                    <p> or sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt </p>
                    <p>explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <p>explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed</p>
                    <p>quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </article>
                <div class="blog-comment-wraper">
                    <h3>2 Comments</h3>
                    <div class="commnet-area">
                        <div class="comment-author">
                            <img src="./assets/images/authorcoment.jpg" alt="">
                        </div>
                        <div class="comment-content">
                            <i class="fa fa-user" aria-hidden="true"></i> <span>Lumiana john</span>
                            <i class="fa fa-solid fa-clock"></i> <span>25min ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#">Reply<i class="fa fa-reply" aria-hidden="true"></i></a>
                        </div>
                        <div class="reply-commnet-content">
                            <div class="comment-author">
                                <img src="./assets/images/author2.jpg" alt="">
                            </div>
                            <div class="comment-content">
                                <i class="fa fa-user" aria-hidden="true"></i> <span>Lumiana john</span>
                                <i class="fa fa-solid fa-clock"></i>  <span>25min ago</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#">Reply<i class="fa fa-reply" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="commnet-area">
                        <div class="comment-author">
                            <img src="./assets/images/author03.jpg" alt="">
                        </div>
                        <div class="comment-content">
                            <i class="fa fa-user" aria-hidden="true"></i> <span>Lumiana john</span>
                            <i class="fa fa-clock-o" aria-hidden="true"></i> <span>25min ago</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#">Reply<i class="fa fa-reply" aria-hidden="true"></i></a>
                        </div>
                        <div class="reply-commnet-content">
                            <div class="comment-author">
                                <img src="./assets/images/author04.jpg" alt="">
                            </div>
                            <div class="comment-content">
                                <i class="fa fa-user" aria-hidden="true"></i> <span>Lumiana john</span>
                                <i class="fa fa-clock-o" aria-hidden="true"></i> <span>25min ago</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#">Reply<i class="fa fa-reply" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="comment-heading">leave a comment</h3>
                <div class="comment-form">
                    <form action="#">
                        <div class="comment-input-form">
                            <input name="name" required="" placeholder="YOUR NAME" type="text">
                        </div>
                        <div class="comment-input-form">
                            <input name="email" required="" placeholder="YOUR MAIL" type="email">
                        </div>
                        <div class="comment-textarea">
                            <textarea data-gramm="true" spellcheck="false" data-gramm_editor="true" name="message" required="" placeholder="WRITE A COMMENT..."></textarea>
                        </div>
                        <button type="submit" class="post-button garden-btn move-eff">Submit comment</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-4 col-sm-pull-8">
               
                <aside class="sidebar-widget widget-post">
                    <h3 class="widget-title">recent post</h3>
                    <a href="#">
                        <div class="post">
                            <div class="post-img">
                                <img src="http://lovesome.biz/tf-template/garden/img/news/01.jpg" alt="">
                            </div>
                            <div class="post-info">
                                <h3>interior design</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span> 10 minits ago</span></p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="post">
                            <div class="post-img">
                                <img src="http://lovesome.biz/tf-template/garden/img/news/02.jpg" alt="">
                            </div>
                            <div class="post-info">
                                <h3>Build construction</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span> 10 minits ago</span></p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="post">
                            <div class="post-img">
                                <img src="http://lovesome.biz/tf-template/garden/img/news/03.jpg" alt="">
                            </div>
                            <div class="post-info">
                                <h3>Terra-cotta</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span> 10 minits ago</span></p>
                            </div>
                        </div>
                    </a>
                </aside>
            
                <aside class="sidebar-widgets widget-keywords">
                    <h3 class="widget-title">keywords</h3>
                    <div class="keywords">
                        <span>factory</span>
                        <span>interior design</span>
                        <span>paint</span>
                        <span>paint</span>
                        <span>interior design</span>
                        <span>factory</span>
                        <span>factory</span>
                        <span>interior design</span>
                        <span>paint</span>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>