<!-- phần blog của trang homepage -->
<div class="section-news my-section">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>
                        Latest
                        <span>Blog</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="owl-carousel owl-theme produc-one">
                <div class="item item_blog">
                    <article class="news-info">
                        <div class="news-img">
                            <img src="./assets/images/bloghome/blog1.jpg" alt="">
                            <div class="post-date">
                                <div class="post-date-info">
                                    <span>03</span> nov/23
                                </div>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="post-meta">
                                <ul>
                                    <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                    <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                                </ul>
                            </div>
                            <a href="#">
                                <h2>Blog title goes here...</h2>
                            </a>
                            <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                            <a routerLink="/blog" class="garden-btn move-eff"><span>read more</span></a>
                        </div>
                    </article>
                </div>
                <div class="item item_blog">
                    <article class="news-info">
                        <div class="news-img">
                            <img src="./assets/images/bloghome/blog2.jpg" alt="">
                            <div class="post-date">
                                <div class="post-date-info">
                                    <span>03</span> nov/23
                                </div>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="post-meta">
                                <ul>
                                    <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                    <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                                </ul>
                            </div>
                            <a href="#">
                                <h2>Blog title goes here...</h2>
                            </a>
                            <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                            <a routerLink="/blog" class="garden-btn move-eff"><span>read more</span></a>
                        </div>
                    </article>
                </div>
                <div class="item item_blog">
                    <article class="news-info">
                        <div class="news-img">
                            <img src="./assets/images/bloghome/blog3.jpg" alt="">
                            <div class="post-date">
                                <div class="post-date-info">
                                    <span>03</span> nov/23
                                </div>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="post-meta">
                                <ul>
                                    <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                    <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                                </ul>
                            </div>
                            <a href="#">
                                <h2>Blog title goes here...</h2>
                            </a>
                            <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                            <a routerLink="/blog" class="garden-btn move-eff"><span>read more</span></a>
                        </div>
                    </article>
                </div>
                <div class="item item_blog">
                    <article class="news-info">
                        <div class="news-img">
                            <img src="./assets/images/bloghome/blog4.jpg" alt="">
                            <div class="post-date">
                                <div class="post-date-info">
                                    <span>03</span> nov/23
                                </div>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="post-meta">
                                <ul>
                                    <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                    <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                                </ul>
                            </div>
                            <a href="#">
                                <h2>Blog title goes here...</h2>
                            </a>
                            <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                            <a routerLink="/blog" class="garden-btn move-eff"><span>read more</span></a>
                        </div>
                    </article>
                </div>
                <div class="item item_blog">
                    <article class="news-info">
                        <div class="news-img">
                            <img src="./assets/images/bloghome/blog5.jpg" alt="">
                            <div class="post-date">
                                <div class="post-date-info">
                                    <span>03</span> nov/23
                                </div>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="post-meta">
                                <ul>
                                    <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                    <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                                </ul>
                            </div>
                            <a href="#">
                                <h2>Blog title goes here...</h2>
                            </a>
                            <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                            <a routerLink="/blog" class="garden-btn move-eff"><span>read more</span></a>
                        </div>
                    </article>
                </div>
                <div class="item item_blog">
                    <article class="news-info">
                        <div class="news-img">
                            <img src="./assets/images/bloghome/blog6.jpg" alt="">
                            <div class="post-date">
                                <div class="post-date-info">
                                    <span>03</span> nov/23
                                </div>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="post-meta">
                                <ul>
                                    <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                    <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                                </ul>
                            </div>
                            <a href="#">
                                <h2>Blog title goes here...</h2>
                            </a>
                            <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                            <a routerLink="/blog" class="garden-btn move-eff"><span>read more</span></a>
                        </div>
                    </article>
                </div>
                <div class="item item_blog">
                    <article class="news-info">
                        <div class="news-img">
                            <img src="./assets/images/bloghome/blog7.jpg" alt="">
                            <div class="post-date">
                                <div class="post-date-info">
                                    <span>03</span> nov/23
                                </div>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="post-meta">
                                <ul>
                                    <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                    <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                                </ul>
                            </div>
                            <a href="#">
                                <h2>Blog title goes here...</h2>
                            </a>
                            <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                            <a routerLink="/blog" class="garden-btn move-eff"><span>read more</span></a>
                        </div>
                    </article>
                </div>
                <div class="item item_blog">
                    <article class="news-info">
                        <div class="news-img">
                            <img src="./assets/images/bloghome/blog8.jpg" alt="">
                            <div class="post-date">
                                <div class="post-date-info">
                                    <span>03</span> nov/23
                                </div>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="post-meta">
                                <ul>
                                    <li><a href="#"><span class="fa fa-user"></span> By Smith</a></li>
                                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>89 likes</a></li>
                                    <li><a href="#"><i class="fa fa-regular fa-comment-dots"></i> 23 Comments</a></li>
                                </ul>
                            </div>
                            <a href="#">
                                <h2>Blog title goes here...</h2>
                            </a>
                            <p>Lorem Ipsum is simply dummy text of the more printing and typesetting industry.</p>
                            <a routerLink="/blog" class="garden-btn move-eff"><span>read more</span></a>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </div>

</div>






<script>

    $('.produc-one').owlCarousel({
        loop: true,
        margin: 10,
        responsive: {
            0: {
                items: 2
            },
            600: {
                items: 3
            },
            1000: {
                items: 4
            }
        }
    });
</script>
